@{
    ViewData["Title"] = "Сообщения";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model List<Message>
<div class="text-center">
    <h1 class="display-4">Сообщения</h1>
</div>

    <div>
        <input type="button" value="Снять выделение" class="message-button" disabled onclick="removeSelected()" />
        <input type="button" value="Выделить все" onclick="selectAll()" />
        <input type="button" value="Прочитано" class="message-button" disabled onclick="deleteMessages()" />
    </div>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Книга</th>
                <th>Текст</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr onclick="selectRow(this)">
                    <td hidden name="messageId">@Model[i].Id</td>
                    <td>@(i + 1)</td>
                    <td>@Model[i].DateTime.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@Model[i].Book.Card.Title</td>
                    <td>@Model[i].Text</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function selectRow(row) {
        if (row.classList.contains('isSelected')) {
            row.classList.remove('isSelected');
        }
        else { 
            row.classList.add('isSelected');
        }
        var selectedRows = $('.isSelected');
        if (selectedRows.length > 0) {
            $(".message-button").removeAttr('disabled');
        }
        else { 
            $(".message-button").attr('disabled', 'disabled');
        }
    }
    function removeSelected()
    {
        $('.isSelected').removeClass('isSelected');
        $(".message-button").attr('disabled', 'disabled');
    }
    function selectAll()
    {
        $('tbody>tr').addClass('isSelected');
        $(".message-button").removeAttr('disabled');
    }
    function deleteMessages()
    {
        var idList = $(`tbody>tr.isSelected>[name='messageId']`);
        var array = $.map(idList, function (elem) {
            return $(elem).text();
        });
        $.post('/Home/DeleteMessages', { 'messageList': array },
            function (data) {
                if (data.length != 0)
                    alert(data);
                else
                    location.reload();
            });
    }
</script>